<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
                        <rule name="wph-CheckString">
                            <!-- WriteCheckString:1516846256_2396 -->
                        </rule>
                            <rule name="wph-new_style_file_path" stopProcessing="true">
                                <match url="^vber2018_template/vber2018-style.css"/>
                                <action type="Rewrite" url="/wp-content/themes/coral-snowy/style.css" appendQueryString="true"/>
                            </rule>
                                                            
                            <rule name="wph-new_theme_path" stopProcessing="true">
                                <match url="^vber2018_template/(.+)"/>
                                <action type="Rewrite" url="/wp-content/themes/coral-snowy/{R:1}" appendQueryString="true"/>
                            </rule>
                                                            
                                            <rule name="wph-new_plugin_path-display-widgetsdisplay-widgets-php" stopProcessing="true">
                                                <match url="^vber2018-plugins/my-widgets/(.+)"/>
                                                <action type="Rewrite" url="/wp-content/plugins/display-widgets/{R:1}" appendQueryString="true"/>
                                            </rule>
                                                                            
                                            <rule name="wph-new_plugin_path-wp-file-uploadwordpress_file_upload-php" stopProcessing="true">
                                                <match url="^vber2018-plugins/file-upload/(.+)"/>
                                                <action type="Rewrite" url="/wp-content/plugins/wp-file-upload/{R:1}" appendQueryString="true"/>
                                            </rule>
                                                                            
                                            <rule name="wph-new_plugin_path-wpfront-scroll-topwpfront-scroll-top-php" stopProcessing="true">
                                                <match url="^vber2018-plugins/scroll-top/(.+)"/>
                                                <action type="Rewrite" url="/wp-content/plugins/wpfront-scroll-top/{R:1}" appendQueryString="true"/>
                                            </rule>
                                                                            
                                            <rule name="wph-new_plugin_path" stopProcessing="true">
                                                <match url="^vber2018-plugins/(.+)"/>
                                                <action type="Rewrite" url="/wp-content/plugins/{R:1}" appendQueryString="true"/>
                                            </rule>
                                                                            
                                    <rule name="wph-new_include_path" stopProcessing="true">
                                        <match url="^libraries/(.+)"/>
                                        <action type="Rewrite" url="/wp-includes/{R:1}" appendQueryString="true"/>
                                    </rule>
                                                                    
                            <rule name="wph-new_upload_path" stopProcessing="true">
                                <match url="^files/(.+)"/>
                                <action type="Rewrite" url="/wp-content/uploads/{R:1}" appendQueryString="true"/>
                            </rule>
                                                            
                            <rule name="wph-new_content_path" stopProcessing="true">
                                <match url="^vber2018-static/(.+)"/>
                                <action type="Rewrite" url="/wp-content/{R:1}" appendQueryString="true"/>
                            </rule>
                                                            
                                        <rule name="wph-admin_url1" stopProcessing="true">  
                                            <match url="^(.*)$"/>  
                                            <conditions>  
                                                <add input="{REQUEST_URI}" matchType="Pattern" pattern="vber2018-admin$"/>  
                                            </conditions>  
                                            <action type="Redirect" redirectType="Permanent" url="/vber2018-admin{R:1}/"/>  
                                        </rule>
                                        <rule name="wph-admin_url2" stopProcessing="true">
                                            <match url="^vber2018-admin(.*)"/>
                                            <action type="Rewrite" url="/wp-admin{R:1}" appendQueryString="true"/>
                                        </rule>
                                                            <rule name="WordPress: http://vber.ou.edu.vn" patternSyntax="Wildcard"><match url="*"/><conditions><add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/><add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/></conditions><action type="Rewrite" url="index.php"/></rule></rules>
    </rewrite>
  </system.webServer>
</configuration>
